/* Remember you have to attribute Andy Horvath */
.bgc-pale-white {
  background-color: #f3f3f3;
}

.bgc-pale-white-inverted {
  background-color: #0c0c0c;
}

.bgc-pale-black {
  background-color: #000205;
}

.bgc-pale-black-inverted {
  background-color: #fffdfa;
}

.bgc-silver {
  background-color: #acacac;
}

.bgc-silver-inverted {
  background-color: #535353;
}

.bgc-yellow {
  background-color: yellow;
}

.bgc-yellow-complement {
  background-color: blue;
}

.bgc-lighten-yellow {
  background-color: #ffff33;
}

.bgc-darken-yellow {
  background-color: #cccc00;
}

:root {
  font-size: 62.5%;
}

body {
  background: #000205;
  color: #f3f3f3;
  overflow-x: hidden;
}

body, html, ol, ul, li, q, a, header, input, div, nav, footer, button, img, p, aside, h1, h2, h3, h4, section, article, blockquote, span, button, figure, figcaption {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul, li, a {
  list-style: none;
}

button, a, input, select {
  cursor: pointer;
}

button {
  border: none;
  color: #f3f3f3;
}

h1, h2, h3, h4, p, q,
span, a, figcaption, blockquote, div, button {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}

a, a:visited, a:active, a:focus {
  text-decoration: none;
}

.ongradient-txt {
  color: #000205;
}

.ico-32 {
  display: block;
  width: 32px;
  height: 32px;
}
.ico-32--checked {
  background: url("../../images/Icons/simple-check-32.png");
}
.ico-32--seat {
  background: url("../../images/Icons/baby-32.png");
}
.ico-32--pet {
  background: url("../../images/Icons/pet-32.png");
}
.ico-32--trailer {
  background: url("../../images/Icons/trailer-32.png");
}
.ico-32--world {
  background: url("../../images/Icons/world-32.png");
}
.ico-32--pillow {
  background: url("../../images/Icons/pillows-32.png");
}
.ico-32--alco {
  background: url("../../images/Icons/champagne-32.png");
}

.margin-l-auto {
  margin-left: auto;
}

.margin-r-auto {
  margin-right: auto;
}

.box-shadow {
  box-shadow: 0 0px 32px 0 rgba(33, 40, 141, 0.676);
}
.box-shadow--yellow {
  box-shadow: 0 0px 10px 5px rgba(255, 255, 0, 0.6);
}
.box-shadow--success {
  box-shadow: 0px 0px 15px 9px rgba(9, 195, 114, 0.6);
}

.border-r-small {
  border-radius: 3px;
}
.border-r-med {
  border-radius: 5px;
}
.border-r-big {
  border-radius: 10px;
}
.border-r-round {
  border-radius: 50%;
}

.gradient-txt {
  background: -webkit-linear-gradient(#f3f3f3, #acacac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bgcolor {
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

.page-item {
  padding: 6rem 4rem;
}

.speedup-txt {
  font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
}
@media (min-width: 2000px) {
  .speedup-txt {
    font-size: clamp(3rem, 1rem + 1.75vh, 5rem);
  }
}
.speedup-txt--uppercased {
  text-transform: uppercase;
}
.speedup-txt--italics {
  font-style: italic;
}
.speedup-txt--left {
  text-align: left;
}
.speedup-txt--center {
  text-align: center;
}
.speedup-txt--yellow {
  -webkit-background-clip: text;
  -webkit-text-fill-color: yellow;
}
.speedup-txt--green {
  color: #09c372;
}
.speedup-txt--bold {
  font-weight: 700;
}
.speedup-txt--black {
  color: #000205;
}
.speedup-txt--medium {
  font-size: clamp(1.75rem, 1rem + 1.1vh, 2.25rem);
}
@media (min-width: 2000px) {
  .speedup-txt--medium {
    font-size: clamp(2.25rem, 1rem + 1.5vh, 3rem);
  }
}
.speedup-txt--subtitle {
  font-size: clamp(2.5rem, 1rem + 2vh, 3.5rem);
  text-align: center;
}
.speedup-txt--subtitle-pad {
  padding: 6rem 4rem;
}
.speedup-txt--subtitle-l {
  text-align: left;
}
@media (min-width: 2000px) {
  .speedup-txt--subtitle {
    font-size: clamp(3.5rem, 1rem + 2.5vh, 6rem);
  }
}
.speedup-txt--title {
  font-size: clamp(2.75rem, 1rem + 3.5vw, 4rem);
  text-align: center;
}
@media (min-width: 2000px) {
  .speedup-txt--title {
    font-size: clamp(4rem, 1rem + 3.5vw, 7rem);
  }
}
.speedup-txt--title-l {
  text-align: left;
}
.speedup-txt--title-padding {
  padding: 6rem 0;
}

.speedup-txt-small {
  font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
}
@media (min-width: 900px) {
  .speedup-txt-small {
    font-size: clamp(1.75rem, 1rem + 1.1vh, 2.25rem);
  }
}

.speedup-txt-dynamic {
  font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
}
@media (min-width: 700px) {
  .speedup-txt-dynamic {
    font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
  }
}

@media (min-width: 900px) {
  .txt-intro {
    text-align: justify;
  }
}
.txt-intro__speedup-txt {
  margin-top: 6rem;
}
.txt-intro__border {
  display: block;
  width: 100%;
  height: 1vh;
  border-radius: 6px;
}
@media (min-width: 900px) {
  .txt-intro__border {
    width: 25%;
  }
}
.txt-intro__border--right {
  align-self: flex-end;
}

.action-btn {
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all 0.4s ease;
  overflow: hidden;
  border: 2px solid yellow;
  border-radius: 3px;
  background: yellow;
  color: #000205;
}
@media (min-width: 450px) {
  .action-btn {
    padding-block: 1.5rem;
  }
}
.action-btn:hover {
  color: #f3f3f3;
  background: #000205;
}
@media (min-width: 2000px) {
  .action-btn {
    padding: 2rem 4rem;
    border: 4px solid yellow;
    border-radius: 10px;
  }
}
.action-btn--animation {
  animation: action linear 1.5s infinite;
}
.action-btn--animation:hover {
  animation-play-state: paused;
}
.action-btn--in-grid {
  grid-column: 1/-1;
  width: 50%;
  margin: 0 auto;
}

@keyframes action {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }
  25% {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 52, 0.902);
  }
  50% {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 52, 0.902);
  }
  75% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }
}
.btn-close {
  background-color: #000205;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px yellow;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: calc(100% - 30px);
  width: 30px;
  height: 30px;
  transform: translateX(-30px) rotate(-45deg);
}
@media (min-width: 1400px) {
  .btn-close {
    width: 50px;
    height: 50px;
    transform: translateX(-50px) rotate(-45deg);
  }
}
.btn-close:hover {
  box-shadow: 0px 0px 5px 2px yellow;
}
.btn-close--sticky {
  position: fixed;
  top: 120px;
  left: calc(100% - 15px);
  z-index: 1000;
}
@media (min-width: 900px) {
  .btn-close--sticky {
    top: 170px;
    left: calc(100% - 30px);
  }
}
.btn-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15%;
  width: 25px;
  height: 3px;
  background-color: #f3f3f3;
}
.btn-close__icon--is-rotated {
  transform: translate(-50%, -50%) rotate(90deg);
}

.circle-btn-overlay {
  cursor: pointer;
  border: 4px solid yellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 0, 0.81);
  transition: box-shadow 0.4s ease;
}
.circle-btn-overlay:hover {
  box-shadow: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__label {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form__label + .form__label {
  margin-top: 1vh;
}
.form__input {
  width: 100%;
  background-color: #000205;
  text-align: center;
  border: none;
}
@media (min-width: 900px) {
  .form__input {
    width: 50%;
  }
}
.form__input-control {
  height: 90px;
}
@media (min-width: 700px) {
  .form__input-control {
    height: 115px;
  }
}
.form__action-btn {
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 700px) {
  .form__action-btn {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .form__action-btn {
    width: 25%;
  }
}
@media (min-width: 2000px) {
  .form__action-btn {
    margin-top: 6rem;
  }
}

.success-msg {
  grid-column: 1/-1;
  margin-block: 25px;
  color: #09c372;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s linear;
}
.success-msg--active {
  opacity: 1;
}

.input {
  padding: 2rem;
  color: #acacac;
  border: 2px solid #acacac;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px 0px rgb(172, 172, 172);
  outline: none;
  transition: all 0.4s linear;
}
@media (min-width: 2000px) {
  .input {
    padding: 4rem;
    border-radius: 10px;
  }
}
.input--success {
  border: 2px solid #09c372;
}
.input--error {
  border-color: #ff3860;
}

.error-info {
  color: #ff3860;
  margin-top: 5px;
}
@media (min-width: 700px) {
  .error-info {
    font-size: 15px;
  }
}

.input-control--full-row {
  grid-column: 1/-1;
}

.aside-nav {
  position: fixed;
  top: 50%;
  left: calc(100% - 40px);
  transform: translateY(-75%);
}
.aside-nav__list {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aside-nav__item {
  width: 20px;
  height: 20px;
  border: 2px solid yellow;
  border-radius: 50%;
  cursor: pointer;
  background-color: yellow;
  z-index: 100;
}

.flip-card {
  height: 12vh;
  perspective: 1000px;
}
@media (min-width: 900px) {
  .flip-card {
    height: 160px;
  }
}
.flip-card:hover .flip-card__inner {
  transform: rotateX(180deg);
}
.flip-card + .flip-card {
  margin-top: clamp(5px, 1rem, 2rem);
}
.flip-card__inner {
  position: relative;
  width: inherit;
  height: inherit;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #000205;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 9px rgba(93, 93, 91, 0.81);
}
@media (min-width: 450px) {
  .flip-card__inner {
    box-shadow: inset 0px 0px 10px 9px rgba(255, 247, 0, 0.81);
  }
}
.flip-card__front, .flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.flip-card__back {
  transform: rotateX(180deg);
  padding: 2rem;
}
.flip-card__txt {
  color: #000205;
  text-align: left;
}

.icon-incentives {
  display: flex;
  flex-direction: column;
}
@media (min-width: 450px) {
  .icon-incentives {
    flex-direction: row;
    justify-content: space-between;
  }
}
.icon-incentives__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 450px) {
  .icon-incentives__item {
    gap: 1.5rem;
    margin-block: 1rem;
  }
}
.icon-incentives__icon {
  -o-object-fit: contain;
     object-fit: contain;
}

.accordeon__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
@media (min-width: 700px) {
  .accordeon__wrap {
    height: 50vh;
  }
}
.accordeon__item {
  width: 85%;
}
@media (min-width: 700px) {
  .accordeon__item {
    width: 750px;
  }
}
.accordeon__panel, .accordeon__info {
  padding: 1rem;
  border-radius: 10px;
}
.accordeon__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: "auto";
  border-bottom: 2px solid yellow;
  cursor: pointer;
}
.accordeon__info {
  display: none;
  margin-top: 5px;
  color: #000205;
  font-size: clamp(1.2rem, 1rem + 0.5vh, 1.8rem);
}
@media (min-width: 900px) {
  .accordeon__info {
    font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
  }
}
.accordeon__info--visible {
  display: block;
}
.accordeon__icon--rotate {
  transform: rotate(180deg);
}

.blog-article {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;
  transition: box-shadow 0.3s linear;
  background-color: #000205;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
  color: #f3f3f3;
}
.blog-article:hover {
  box-shadow: 0px 0px 8px 3px yellow;
}
.blog-article--newest {
  flex-direction: column;
  width: 90%;
  position: relative;
  background-image: linear-gradient(-45deg, rgba(243, 243, 243, 0.5) 0%, rgba(0, 2, 5, 0.2) 30% 70%, rgba(243, 243, 243, 0.5) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media (min-width: 900px) {
  .blog-article--newest {
    flex-direction: row;
    gap: 5rem;
  }
}
@media (min-width: 900px) {
  .blog-article--newest {
    width: 80%;
  }
}
.blog-article__picture {
  width: 100%;
  overflow: hidden;
}
.blog-article__img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  max-height: 200px;
}
@media (min-width: 700px) {
  .blog-article__img {
    max-height: 350px;
  }
}
@media (min-width: 700px) {
  .blog-article__img--dark {
    opacity: 0.4;
  }
}
.blog-article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}
@media (min-width: 700px) {
  .blog-article__content {
    position: absolute;
  }
}
.blog-article__content--newest {
  position: static;
  margin-top: 20px;
}
@media (min-width: 900px) {
  .blog-article__content--newest {
    max-width: 50%;
    margin-top: 0;
  }
}
@media (min-width: 700px) {
  .blog-article__content--positioned {
    padding: 3rem;
    height: calc(100% - 6rem);
    width: calc(100% - 6rem);
  }
}
.blog-article__snippet {
  margin-block: 15px;
}
.blog-article__info {
  color: yellow;
}

.tags--absolute {
  position: absolute;
  top: -2.5%;
  left: 5%;
}
@media (min-width: 700px) {
  .tags--absolute {
    position: static;
  }
}
.tags__item {
  padding: 1rem;
  text-transform: uppercase;
  background-color: #000205;
  border: 2px solid yellow;
  border-radius: 10px;
}
.tags__item--newest {
  background-color: yellow;
  color: #000205;
}

.browser {
  width: 100%;
  border-block: 2px solid yellow;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.browser__wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
@media (min-width: 900px) {
  .browser__wrap {
    width: 50%;
  }
}
.browser__input {
  padding: 1rem;
  border: none;
  border-inline: 2px solid yellow;
  flex-grow: 4;
  background: #000205;
  color: #acacac;
  outline: none;
  transition: all 0.3s linear;
}
.browser__input--active {
  box-shadow: inset 0px 0px 8px 3px yellow;
}
@media (min-width: 900px) {
  .browser__input {
    padding: 2rem 4rem;
  }
}
.browser__action-btn {
  flex-grow: 1;
  padding: 0.5rem;
}

.add-panel {
  height: 300px;
  border: 2px solid yellow;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}
@media (min-width: 900px) {
  .add-panel {
    height: 600px;
    margin: unset;
  }
}

.img-grid {
  display: grid;
  gap: 2rem;
}
@media (min-width: 900px) {
  .img-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.img-grid__item-wrap {
  overflow: hidden;
  border-radius: 10px;
}

.ratings {
  transform: rotateY(180deg);
}
.ratings__input {
  display: none;
}
.ratings__input:checked ~ .ratings__label::after {
  opacity: 1;
}
.ratings__label {
  position: relative;
  cursor: pointer;
}
.ratings__label::before, .ratings__label::after {
  content: "\f005";
  font-family: fontAwesome;
  font-size: 30px;
  line-height: 50px;
}
.ratings__label::after {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.5s linear;
  color: yellow;
  text-shadow: 0 0 10px rgb(255, 255, 0);
}
.ratings__label:hover::after, .ratings__label:hover ~ .ratings__label::after {
  opacity: 1;
}

.register-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 4rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.register-panel__icon-incentives {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.calendar__input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  background-color: #000205;
  color: #f3f3f3;
  border: none;
  outline: none;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.flatpickr-day.selected {
  background-color: #09c372 !important;
  border-color: #09c372 !important;
}

.extras {
  width: 100%;
}
.extras__title {
  margin-block: 2rem;
}
.extras__section {
  display: grid;
  gap: 2rem;
}
@media (min-width: 900px) {
  .extras__section {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 140px;
  }
}

.extra {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: "auto";
  height: 250px;
  padding-inline: clamp(15px, 2rem, 0.5em);
  cursor: pointer;
}
@media (min-width: 900px) {
  .extra {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
.extra__ico-wrap {
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
  align-content: "auto";
}
@media (min-width: 900px) {
  .extra__ico-wrap {
    order: 0;
  }
}
.extra__ico-wrap--success {
  width: 100%;
  height: 50px;
  border: 2px solid #09c372;
  border-radius: 10px;
}
@media (min-width: 900px) {
  .extra__ico-wrap--success {
    width: 50px;
    height: 112px;
  }
}
.extra__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .extra__content {
    justify-content: unset;
    flex-basis: 80%;
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .extra__price {
    margin-block: 1rem;
  }
}

.booking-panel {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* From https://css.glass */
  background: rgba(31, 31, 31, 0.245);
  box-shadow: 0 4px 30px rgba(147, 147, 147, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: auto;
}
.booking-panel__header {
  position: relative;
  padding-top: 100px;
  height: clamp(400px, 8vh, 600px);
}
.booking-panel__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/road.jpg") top;
  z-index: -10;
  filter: brightness(0.5);
}
.booking-panel__car {
  text-align: center;
  border-bottom: 1px solid #acacac;
}
@media (min-width: 700px) {
  .booking-panel__car {
    border-bottom: none;
  }
}
.booking-panel__content {
  width: 85%;
  background-color: #000205;
  margin: 0 auto;
}
.booking-panel__cover {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -125px;
  background: #000205;
}
@media (min-width: 700px) {
  .booking-panel__cover {
    align-items: center;
  }
}
@media (min-width: 900px) {
  .booking-panel__cover {
    flex-direction: row;
    justify-content: space-between;
  }
}
.booking-panel__cover--yellow-border {
  border: 2px solid yellow;
}
.booking-panel__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem 5rem;
  max-width: 500px;
  padding-block: 2rem;
}
.booking-panel__item {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: "auto";
  gap: 1rem;
  max-width: 250px;
  max-height: 90px;
}
.booking-panel__icon {
  height: 16px;
}

.booking-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-block: 50px;
}
.booking-section__content, .booking-section__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: "auto";
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 900px) {
  .booking-section__content {
    gap: 3rem;
  }
}
.booking-section__label {
  max-width: 450px;
  min-width: 200px;
}
@media (max-width: 1200px) {
  .booking-section__label {
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .booking-section__label {
    width: 30%;
  }
}
.booking-section__option {
  position: relative;
  height: auto;
  cursor: pointer;
}
.booking-section__option::before {
  content: "\f00c";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 28px;
  height: 28px;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  opacity: 0;
}
.booking-section__checkbox {
  display: none;
}
.booking-section__checkbox:checked + label > .booking-section__option::before {
  opacity: 1;
  background-color: #09c372;
}
.booking-section__checkbox:checked + label > .booking-section__option {
  border: 2px solid #09c372;
  box-shadow: 0px 0px 15px 9px rgba(9, 195, 114, 0.7254901961);
}
.booking-section__checkbox:checked + label.extras__item {
  box-shadow: 0 0px 32px 0 #09c372;
}
.booking-section__checkbox:checked + label.extras__item > .addition__ico-wrap--success {
  background-color: #09c372;
}
.booking-section__data-wrap {
  width: 100%;
  display: grid;
  row-gap: 3rem;
  justify-items: center;
}
@media (min-width: 700px) {
  .booking-section__data-wrap {
    grid: auto/repeat(auto-fill, minmax(400px, 1fr));
  }
}
.booking-section__data-item {
  width: calc(100% - 4rem);
  text-align: center;
}
@media (min-width: 900px) {
  .booking-section__summary, .booking-section__form-wrap {
    width: 45%;
  }
}
.booking-section__form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.booking-section__h3 {
  margin-bottom: 4rem;
}
.booking-section__action-btn {
  width: 100%;
}
@media (max-width: 800px) {
  .booking-section__order-info {
    display: block;
  }
}

.booking-section,
.booking-panel__cover {
  padding: 1rem 2rem;
}
@media (min-width: 700px) {
  .booking-section,
  .booking-panel__cover {
    padding: 2rem 4rem;
  }
}

.page__recommend {
  position: relative;
  width: 100%;
  height: 120vh;
}
@media (min-width: 700px) {
  .page__recommend {
    height: 90vh;
  }
}
.page__gallery {
  padding: 100px 4rem 0 4rem;
}
@media (min-width: 900px) {
  .page__gallery {
    padding: 150px 8rem 0 8rem;
  }
}

/* MAIN NAV STYLE  */
.is-sticky {
  background-color: #000205;
}

.main-nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: "auto";
  height: 100px;
  left: 0;
  right: 0;
  max-width: 100vw;
  z-index: 5000;
  transition: background-color 0.4s linear;
}
@media (min-width: 900px) {
  .main-nav {
    padding: 1rem 2rem;
  }
}
@media (min-width: 2000px) {
  .main-nav {
    height: 200px;
  }
}
.main-nav--is-dropdown {
  background-color: #000205;
}
.main-nav__hamburger-btn {
  width: 15%;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
@media (min-width: 900px) {
  .main-nav__hamburger-btn {
    display: none;
  }
}
.main-nav__hamburger-line {
  display: block;
  height: 3px;
  width: max(50%, 5rem);
  border-radius: 5px;
  background: #f3f3f3;
}
.main-nav__hamburger-line:nth-child(2) {
  width: max(25%, 3rem);
}
.main-nav__hamburger-line:nth-child(3) {
  width: max(12.5%, 1rem);
}
.main-nav__list {
  position: absolute;
  top: 100px;
  left: 0;
  height: calc(100vh - 100px);
  width: 100%;
}
@media (min-width: 900px) {
  .main-nav__list {
    position: static;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
  }
}
.main-nav__sign-btn {
  width: 15%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}
@media (min-width: 900px) {
  .main-nav__sign-btn {
    width: auto;
    height: auto;
    visibility: visible;
    padding: 1.5rem;
    border: 2px solid #acacac;
    border-radius: 3px;
    background: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
  }
}
@media (min-width: 2000px) {
  .main-nav__sign-btn {
    padding: 3rem 4rem;
    border: 4px solid #acacac;
    border-radius: 10px;
  }
}
.main-nav__sign-btn:hover {
  border-color: #5f5f5f;
}
.main-nav__sign-btn--lash {
  position: relative;
  top: 0;
  left: 0;
}
.main-nav__sign-btn--lash::after {
  content: "";
  position: absolute;
  top: -40%;
  left: -120%;
  height: 150px;
  width: 30px;
  transform: rotate(35deg);
  transition: left 0.4s linear;
  opacity: 0.6;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}
.main-nav__sign-btn--lash:hover::after {
  left: 120%;
}
.main-nav__sign-icon {
  display: block;
  height: 100%;
  visibility: visible;
}
@media (min-width: 900px) {
  .main-nav__sign-icon {
    display: none;
  }
}
.main-nav__call-to-action {
  display: none;
  font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
}
@media (min-width: 900px) {
  .main-nav__call-to-action {
    display: block;
  }
}
@media (min-width: 2000px) {
  .main-nav__call-to-action {
    font-size: clamp(3rem, 1rem + 1.75vh, 5rem);
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: auto;
  transform: translateX(-100%);
  transition: transform 0.4s linear;
  background: #000205;
}
@media (min-width: 900px) {
  .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: auto;
    transform: translate(0);
    background: transparent;
  }
}
.list--is-visible {
  transform: translateX(0);
}
.list__item {
  width: 100%;
  text-align: center;
  border-top: 2px solid #acacac;
}
@media (min-width: 900px) {
  .list__item {
    width: auto;
  }
}
.list__item:last-child {
  border-bottom: 2px solid #acacac;
}
@media (min-width: 900px) {
  .list__item, .list__item:last-child {
    border: none;
  }
}
.list__link {
  display: block;
  padding: 1.5rem;
  font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
  text-transform: uppercase;
  background: -webkit-linear-gradient(#f3f3f3, #acacac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list__link:hover, .list__link--curr-page {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 2000px) {
  .list__link, .list__icon::before {
    font-size: clamp(3rem, 1rem + 1.75vh, 5rem);
  }
}

.brandlogo {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}
@media (min-width: 2000px) {
  .brandlogo {
    font-size: clamp(3.5rem, 1rem + 2.5vh, 6rem);
  }
}
.brandlogo__link {
  cursor: pointer;
}

.dynamic-border {
  width: 0;
  height: 1px;
  background-color: yellow;
  position: fixed;
  top: 100px;
  left: 0;
  box-shadow: 0px 0px 12px 2px rgb(255, 247, 0);
}

.dropdown {
  width: 100%;
}
@media (min-width: 900px) {
  .dropdown {
    position: relative;
    width: auto;
  }
}
.dropdown--is-checked {
  background-color: #000205;
}
@media (min-width: 700px) {
  .dropdown--is-checked {
    background-color: rgb(19, 19, 19);
  }
}
.dropdown__list {
  width: 100%;
  height: 0;
  overflow: hidden;
}
@media (min-width: 900px) {
  .dropdown__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
  }
}
.dropdown__list--is-dropdown {
  height: 280px;
  display: grid;
}
.dropdown__item {
  height: 100%;
  background: rgb(19, 19, 19);
  transition: transform 0.4s linear;
  transform: translateX(-100%);
}
.dropdown__item--is-dropdown {
  transform: translateX(0);
}
.dropdown__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #acacac;
  padding: 1.5rem;
  cursor: pointer;
}
@media (min-width: 900px) {
  .dropdown__link {
    width: 300px;
  }
}
.dropdown__link--no-border {
  border-bottom: none;
}
.dropdown__link:hover .dropdown__txt,
.dropdown__link .dropdown__txt--highlited {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown__txt {
  font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
  color: #f3f3f3;
}
.dropdown__icon {
  width: 32px;
  height: 32px;
  background-image: url("../../images/Icons/right-arrow-32.png");
}

/* SLIDER STYLE  */
.main-slider__btns-wrap {
  height: clamp(3rem, 5vh, 200px);
  width: clamp(30rem, 35vw, 1000px);
  position: absolute;
  bottom: 2.5em;
  left: 50%;
  transform: translate(-50%, 0);
}

.btns-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: "auto";
}
.btns-wrap__btn {
  width: clamp(6rem, 7vw, 120px);
  height: 15px;
  border: 2px solid #acacac;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s linear;
}
.btns-wrap__btn:hover, .btns-wrap__btn:focus {
  box-shadow: 0px 0px 15px 2px rgb(172, 172, 172);
}
@media (min-width: 2000px) {
  .btns-wrap__btn {
    width: clamp(6rem, 8vw, 350px);
    height: 30px;
    border-radius: 30px;
    border-width: 4px;
  }
}

.is-btn-filled {
  box-shadow: 0px 0px 15px 2.5px rgb(172, 172, 172);
  background-color: rgb(172, 172, 172);
}

/* IMGS GRID STYLE  */
.counter__onimg-grid {
  position: relative;
  height: 55vh;
}

.counter__onimg-grid > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vh;
}

.counter__grid-wrap {
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  border-top: 1em solid black;
}

.counter__grid-item {
  width: 20%;
  border-width: 0 20px 40px 20px;
  border-color: #000205;
  border-style: solid;
  background-color: transparent;
}

.counter__grid-img {
  background-image: url("images/race.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

/* ABOUT STYLE  */
.about, .about__columns-wrap, .txt-intro {
  display: flex;
  flex-direction: column;
}

.about {
  padding: 6rem 4rem;
}
@media (min-width: 900px) {
  .about {
    padding: 8rem;
  }
}
.about__speedup-txt {
  margin-bottom: 6rem;
}
@media (min-width: 700px) {
  .about__speedup-txt {
    margin: 2em 0;
  }
}
.about__columns-wrap {
  justify-content: space-between;
}
@media (min-width: 900px) {
  .about__columns-wrap {
    flex-direction: row;
  }
}
.about__columns-wrap > * + * {
  margin: 6rem 0 0 0;
}
@media (min-width: 900px) {
  .about__columns-wrap > * + * {
    margin: 0 0 0 6rem;
  }
}
@media (min-width: 900px) {
  .about__column {
    width: 50%;
  }
}

/* BLOG STYLE  */
.blog-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: "auto";
  padding: 0 2rem;
}
.blog-intro--shadow {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
@media (min-width: 900px) {
  .blog-intro {
    padding: 8rem;
  }
}
.blog-intro__wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .blog-intro__wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
.blog-intro__action-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 6rem 0;
}
.blog-intro__post-intro {
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .blog-intro__post-intro {
    width: 30%;
  }
}
.blog-intro__speedup-txt {
  margin-top: 6rem;
}

.post-intro {
  position: relative;
  color: white;
  overflow: hidden;
  border-radius: 10px;
}
.post-intro__cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
  opacity: 0.2;
  transition: all 0.8s ease;
}
.post-intro:hover .post-intro__cover {
  transform: scale(1.2);
  filter: grayscale(0);
  opacity: 0.3;
}
.post-intro__card {
  position: absolute;
  top: 0;
  left: 0;
}
.post-intro__link {
  color: #f3f3f3;
}

.post-intro__card, .blog-intro__post-intro {
  height: 45vh;
}
@media (max-height: 650px) {
  .post-intro__card, .blog-intro__post-intro {
    height: 60vh;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
}
.card--silver-border {
  border: 2px solid #acacac;
  border-radius: 10px;
}
.card--black-bg {
  background: #000205;
}
.card--pad-small {
  padding: 1rem;
}
@media (min-width: 700px) {
  .card--pad-small {
    padding: 2rem;
  }
}
@media (min-width: 900px) {
  .card--margin-l {
    margin-left: 4rem;
  }
}
.card__head {
  display: flex;
  gap: 1rem;
}
.card__head--col {
  flex-direction: column;
}
.card__title, .card__category {
  padding: 1rem;
}
.card__category {
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid yellow;
  border-radius: 5px;
}
@media (min-width: 450px) {
  .card__category {
    margin-bottom: 1rem;
  }
}
@media (min-width: 900px) {
  .card__category {
    margin-bottom: 2rem;
  }
}
.card__speedup-txt {
  font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
}
@media (min-width: 700px) {
  .card__speedup-txt {
    font-size: clamp(1.75rem, 1rem + 1.1vh, 2.25rem);
  }
}
@media (min-width: 2000px) {
  .card__speedup-txt {
    font-size: clamp(3rem, 1rem + 1.75vh, 5rem);
  }
}

/* NEWSLETTER STYLE  */
.nl-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem;
}
@media (min-width: 900px) {
  .nl-wrap {
    padding-inline: 8rem;
  }
}
.nl-wrap__speedup-txt {
  padding: 6rem 0;
}
.nl-wrap__socials-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 700px) {
  .nl-wrap__socials-wrap {
    flex-wrap: nowrap;
  }
}
.nl-wrap__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: "auto";
  width: calc(50vw - 8rem);
  height: calc(50vw - 8rem);
  margin: 1rem;
}
@media (min-width: 450px) {
  .nl-wrap__btn {
    width: 12vh;
    height: 12vh;
  }
}
@media (min-width: 2000px) {
  .nl-wrap__btn {
    margin: 3rem;
  }
}
.nl-wrap__form {
  width: calc(100vw - 8rem);
}

/* LOGIN MODAL STYLE  */
/*
<div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/prosymbols-premium" title="Prosymbols Premium">Prosymbols Premium </a>from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/sebastian-belalcazar" title="Sebastian Belalcazar">Sebastian Belalcazar </a>from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 2, 5, 0.9);
  z-index: 11000;
}
.modal--login {
  height: 100vh;
}
.modal__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: "auto";
  margin: auto;
  border: 1px solid #acacac;
  border-radius: 3px;
  background-image: linear-gradient(-45deg, rgba(243, 243, 243, 0.5) 0%, rgba(0, 2, 5, 0.2) 20% 80%, rgba(243, 243, 243, 0.5) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.modal__panel--login {
  width: max(30rem, 70vw);
  min-height: clamp(55rem, 70vh, 75vh);
  padding: 1rem;
}
.modal__title {
  flex-basis: 20%;
  font-weight: bold;
}
.modal__input-wrap {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: #000205;
  box-shadow: inset 0px 0px 5px 0px rgb(172, 172, 172);
}
@media (min-width: 450px) {
  .modal__input-wrap {
    padding: 2rem;
  }
}
.modal__input, .modal__action-btn {
  width: 100%;
}
.modal__input {
  border: none;
  outline: none;
  background-color: #000205;
  color: #f3f3f3;
  letter-spacing: 3px;
}
.modal__icon {
  width: 50px;
  height: 50px;
}
.modal__links, .modal__password-info {
  text-align: center;
}
.modal__call-to-action {
  margin-bottom: 20px;
}
.modal__password-info {
  display: none;
}

.visible {
  display: flex;
}

.not-visible-section {
  display: none;
}

.stop-scroll {
  overflow: hidden;
}

.hidden-scroll-wrap {
  position: relative;
  overflow: hidden;
  height: auto;
  display: none;
}

.not-hidden-scroll-wrap {
  display: block;
}

/* FOOTER STYLE  */
.sitemap {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
@media (min-width: 900px) {
  .sitemap {
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    align-content: "auto";
  }
}
.sitemap__column {
  margin-bottom: 6rem;
}
@media (min-width: 700px) {
  .sitemap__column {
    flex-basis: 33.3333%;
  }
}
.sitemap__column:last-child {
  margin-bottom: 0;
}
.sitemap__column > * {
  color: #000205;
  padding: 1.5rem 0;
}
.sitemap__item {
  padding: 0.5rem 0;
}

.sitemap__link {
  display: block;
  color: #000205;
  transition: all 0.4s ease;
}
.sitemap__link:hover {
  color: #f3f3f3;
}

/*Here you can find all pages*/
/* MAIN HEADER STYLE  */
.main-header__speedup-txt {
  position: absolute;
  top: 50%;
  left: 0;
  width: max(30rem, 40vw);
  z-index: 10;
  text-align: left;
  padding: 1em;
}
@media (min-width: 700px) and (max-width: 1200px) {
  .main-header__speedup-txt {
    width: max(30rem, 75vw);
  }
}

.main-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.main-slider__slide {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.slide {
  width: 100%;
  background: center;
  background-size: cover;
  transition: transform 1s linear, opacity 1s linear;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);
}
.slide--is-active {
  opacity: 0.4;
  transform: translateY(0%);
}

/* COUNTERS STYLE  */
.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.counter__numbers {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .counter__numbers {
    flex-direction: row;
    justify-content: center;
  }
}
.counter__number-wrap {
  width: 100%;
  height: 22vh;
  display: flex;
  flex-direction: column;
}
.counter__number {
  height: 70px;
  font-size: 60px;
  align-self: center;
}
@media (min-width: 2000px) {
  .counter__number {
    height: auto;
    font-size: clamp(4rem, 1rem + 5.5vw, 10rem);
    line-height: 80%;
  }
}
.counter__number-txt {
  position: relative;
  height: 12vh;
  text-align: center;
  font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
  color: #000205;
  z-index: 100;
}
@media (min-width: 2000px) {
  .counter__number-txt {
    font-size: clamp(3rem, 1rem + 1.75vh, 5rem);
  }
}
.counter__number-txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 12vh;
  z-index: -100;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}
.counter__onimg-grid {
  position: relative;
}
.counter__onimg-grid, .counter__onimg-grid > * {
  height: 30vh;
}
@media (min-width: 900px) {
  .counter__onimg-grid, .counter__onimg-grid > * {
    height: 55vh;
  }
}
.counter__onimg-grid > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.counter__grid-wrap {
  display: flex;
  justify-content: space-around;
  z-index: 100;
}
.counter__grid-item {
  width: 30%;
  border-width: 0 10px 20px 10px;
  border-color: #000205;
  border-style: solid;
}
@media (min-width: 700px) {
  .counter__grid-item {
    width: 20%;
    border-width: 0 20px 40px 20px;
  }
}
@media (min-width: 2000px) {
  .counter__grid-item {
    border-width: 0 40px 80px 40px;
  }
}
.counter__grid-img {
  background: url("../images/race.jpg") no-repeat fixed center;
  background-size: cover;
  filter: grayscale(1);
}

/* CLIENTS STYLE  */
.clients {
  padding: 6rem 1rem;
}
@media (min-width: 900px) {
  .clients {
    padding: 5rem;
  }
}
.clients__wrap {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media (min-width: 900px) {
  .clients__wrap {
    flex-direction: row;
  }
}
.clients__wrap--bgc-black {
  background-color: #000205;
}
.clients__wrap > * {
  padding: 3rem;
}
@media (min-width: 900px) {
  .clients__wrap > * {
    width: 50%;
    padding: 5rem;
  }
}
.clients__info {
  align-self: center;
}
@media (min-width: 900px) {
  .clients__extra-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.clients__action-btn {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: 6rem auto 0 auto;
}
@media (min-width: 900px) {
  .clients__action-btn {
    display: block;
    margin: 6rem 0 0 0;
  }
}
.clients__speedup-txt {
  padding: 6rem 0;
}

.biz-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: auto;
  flex-wrap: wrap;
}
.biz-slider__btn {
  order: 2;
  width: 10vh;
  height: 10vh;
  background-color: transparent;
  margin-top: 3rem;
}
@media (min-width: 900px) {
  .biz-slider__btn {
    order: 1;
    margin-top: 0;
  }
}
.biz-slider__options {
  order: 1;
  width: 100%;
  height: 55vh;
  overflow: hidden;
  position: relative;
}
@media (min-width: 900px) {
  .biz-slider__options {
    width: 70%;
    height: 65vh;
  }
}
@media (min-width: 2000px) {
  .biz-slider__options {
    width: 65%;
    height: 55vh;
  }
}
.biz-slider__option {
  width: 90%;
  position: absolute;
  top: 0;
  left: 50%;
}
@media (min-width: 700px) {
  .biz-slider__option {
    width: 60%;
  }
}

.option {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #acacac;
  border-radius: 5px;
  box-shadow: inset 0px 0px 15px 9px rgba(172, 172, 172, 0.81);
  background: #000205;
  transition: all linear 0.4s;
  overflow: hidden;
}
.option__img {
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.option__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.option__item {
  border-bottom: 2px solid #acacac;
}
.option__item:last-child {
  border: none;
}
.option__txt {
  font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
  text-align: center;
  line-height: 250%;
}
@media (max-width: 400px) {
  .option__txt {
    font-size: 14px;
  }
}
@media (min-width: 2000px) {
  .option__txt {
    font-size: clamp(2.25rem, 1rem + 1.5vh, 3rem);
  }
}
.option__txt--title {
  text-transform: uppercase;
  color: yellow;
  font-weight: bold;
}
.option__speedup-txt {
  padding: 0.5em;
  color: #000205;
  text-align: center;
}
.option--basic-position {
  left: -20%;
  transform: scale(0.9) translateX(-50%);
  filter: blur(4px);
}
.option--medium-position {
  transform: translateX(-50%);
  z-index: 100;
}
.option--premium-position {
  left: auto;
  right: -20%;
  transform: scale(0.9) translateX(50%);
  filter: blur(4px);
}

.txt {
  text-align: left;
}
.txt-cen {
  text-align: center;
}
.txt-rig {
  text-align: right;
}

/* BRANDS ASIDE STYLE  */
.brands {
  display: flex;
  flex-direction: column;
}
.brands__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: auto;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 700px) {
  .brands__slider {
    flex-wrap: nowrap;
  }
}
.brands__btn-wrap {
  display: flex;
  flex-direction: column;
  order: 2;
}
@media (min-width: 700px) {
  .brands__btn-wrap {
    align-items: center;
    order: 1;
    width: 15%;
  }
}
.brands__btn {
  width: 10vh;
  height: 10vh;
  background: transparent;
}
@media (min-width: 900px) {
  .brands__btn {
    width: min(15vh, 200px);
    height: min(15vh, 200px);
  }
}
.brands__slides {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  flex-wrap: nowrap;
  order: 1;
  overflow: hidden;
}
@media (min-width: 700px) {
  .brands__slides {
    width: 60%;
  }
}
@media (min-width: 900px) {
  .brands__slides {
    width: 70%;
  }
}
.brands__col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 65vh;
  flex-shrink: 0;
  transition: transform 0.45s linear;
}
@media (min-width: 900px) {
  .brands__col {
    flex-direction: row;
    height: auto;
  }
}
.brands__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 33.3333333333%;
  max-height: 20vh;
}
@media (min-width: 900px) {
  .brands__slide {
    width: 33.3333333333%;
    height: 25vh;
  }
}
@media (min-width: 900px) {
  .brands__slide:nth-child(2n) {
    transform: translateY(20%);
  }
}
.brands__slide-item {
  width: 100%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.brands__slide-item:last-child {
  transform: rotateX(180deg) translateY(-25%);
  -webkit-mask-image: linear-gradient(transparent 50%, white 90%);
          mask-image: linear-gradient(transparent 50%, white 90%);
}

/* FLEET SECTION STYLE  */
.fleet {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  .fleet {
    flex-direction: column;
    height: 80vh;
  }
}
@media (min-width: 2000px) {
  .fleet {
    height: 60vh;
  }
}
.fleet__grid {
  overflow: hidden;
}
@media (min-width: 900px) {
  .fleet__grid {
    width: 25%;
    height: 50%;
  }
}
.fleet__grid:nth-child(2), .fleet__grid:nth-child(3) {
  width: 50%;
}
@media (min-width: 900px) {
  .fleet__grid:nth-child(2), .fleet__grid:nth-child(3) {
    width: 25%;
  }
}
.fleet__grid--center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: auto;
}
.fleet__txt {
  padding: 6rem 4rem;
}
@media (min-width: 900px) {
  .fleet__txt {
    padding: 4rem;
  }
}
.fleet__img {
  width: 100%;
}
@media (min-width: 700px) {
  .fleet__img {
    height: 100%;
  }
}
.fleet__fleet-underlay {
  position: relative;
}
@media (min-width: 900px) {
  .fleet__fleet-underlay {
    width: 50%;
  }
}

.fleet-underlay {
  height: 100%;
}
.fleet-underlay__big-img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  filter: grayscale(1);
}
.fleet-underlay__action-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-max-content;
  width: max-content;
  transform: translate(-50%, -50%);
}

/* RECOMMENDATION STYLE  */
.recommend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../../images/slide-3-blur.jpg") fixed center;
  background-size: cover;
  opacity: 0.4;
  z-index: -100;
}
@media (min-width: 900px) {
  .recommend__txt-wrap {
    width: 60%;
    padding: 4rem;
  }
}
.recommend__photo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 37.5vh;
  z-index: -10;
}
@media (min-width: 700px) {
  .recommend__photo {
    height: 55vh;
  }
}
@media (min-width: 900px) {
  .recommend__photo {
    height: 80vh;
  }
}
.recommend__speedup-txt {
  font-size: clamp(2rem, 1rem + 1.25vh, 3rem);
}
@media (max-width: 380px) and (max-height: 810px) {
  .recommend__speedup-txt {
    font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
  }
}
@media (min-width: 2000px) {
  .recommend__speedup-txt {
    font-size: clamp(3rem, 1rem + 1.75vh, 5rem);
  }
}

/*style for fleet-browser*/
.gallery {
  display: flex;
  flex-direction: column;
}
.gallery__filter {
  margin-bottom: 4rem;
}
.gallery__info {
  gap: 2rem;
}
.gallery__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
@media (min-width: 900px) {
  .gallery__info {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
}
.gallery__title, .gallery__txt-wrap {
  grid-column: 1/-1;
}
.gallery__link {
  padding-block: 2rem;
  border-radius: 10px;
  background: linear-gradient(#acacac, transparent);
  text-align: center;
}

.grid {
  display: grid;
  grid-template: auto/repeat(auto-fit, 300px);
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 2000px) {
  .grid {
    grid-template: auto/repeat(auto-fit, 500px);
  }
}
.grid--left {
  justify-content: left;
}
.grid__element {
  width: 100%;
  height: 450px;
}
@media (min-width: 2000px) {
  .grid__element {
    height: 750px;
  }
}
.grid--blog {
  grid-template-columns: repeat(auto-fit, 1fr);
}

.filter {
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-flow: row dense;
  gap: 2rem;
}
.filter__btn {
  background-color: #000205;
  border: 2px solid #acacac;
  border-radius: 5px;
  padding: 1rem 0;
  line-height: 100%;
  transition: all linear 0.2s;
}
.filter__btn:hover, .filter__btn:focus {
  box-shadow: 0 0 20px 5px #686868;
}
.filter__btn--inset:hover, .filter__btn--inset:focus {
  box-shadow: inset 0 0 8px 3px yellow;
}
.filter__btn--clean {
  border-color: yellow;
  grid-column: 1/-1;
}
@media (min-width: 900px) {
  .filter__btn--clean {
    grid-column: auto;
  }
}
.filter__title {
  text-transform: uppercase;
  font-size: clamp(1.6rem, 1rem + 0.5vh, 2rem);
}
@media (min-width: 1400px) {
  .filter__title {
    font-size: clamp(1.75rem, 1rem + 1.1vh, 2.25rem);
  }
}

.scroll-btn {
  position: fixed;
  right: -200px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #000205;
  z-index: 1000;
  transition: all 0.4s linear;
}
.scroll-btn--visible {
  right: 20px;
}

/*style for offert subpages*/
.swiper {
  overflow: hidden;
  height: 100vh;
}
.swiper__title, .swiper__btn {
  z-index: 10;
  text-transform: uppercase;
}
.swiper__title {
  position: absolute;
  top: 15%;
  left: 8vw;
  text-align: left;
}
@media (min-width: 900px) {
  .swiper__title {
    top: 25%;
  }
}
.swiper__btn {
  position: absolute;
  top: 35%;
  left: 8vw;
}
.swiper__border {
  box-shadow: 0 0 10px 5px yellow;
}
.swiper__cover {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}
.swiper__cards {
  position: absolute;
  top: 80vh;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 82.5vw;
  padding-left: 3rem;
  transform: translateY(-60%);
}
@media (min-width: 450px) {
  .swiper__cards {
    top: 75vh;
  }
}
@media (min-width: 900px) {
  .swiper__cards {
    width: 60vw;
    top: 80vh;
    left: calc(100% - 60vw - 4rem);
    transform: translateY(-50%);
    flex-direction: row;
  }
}
.swiper__card {
  max-width: 400px;
}

.swiper-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
}
.swiper-section--relative {
  position: relative;
  padding: 0;
}
.swiper-section--center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: "auto";
}
.swiper-section--pad {
  padding-inline: 4vw;
}
@media (min-width: 700px) {
  .swiper-section--pad {
    padding-inline: 10vw;
  }
}
.swiper-section__txt {
  display: none;
}
@media (min-width: 700px) {
  .swiper-section__txt {
    display: block;
  }
}
.swiper-section__txt--center {
  text-align: center;
}
.swiper-section__maintitle {
  text-align: center;
}
.swiper-section__icon-incentives {
  display: none;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 450px) {
  .swiper-section__icon-incentives {
    display: block;
  }
}

.swiper-profits {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 5vw 0 5vw;
}
@media (min-width: 900px) {
  .swiper-profits {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    justify-content: center;
    align-items: center;
    align-content: "auto";
  }
}
.swiper-profits__bg {
  display: none;
}
@media (min-width: 900px) {
  .swiper-profits__bg {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -100;
    opacity: 0.3;
  }
}
@media (min-width: 900px) {
  .swiper-profits__flip-cards {
    width: 40vw;
    grid-column: 2/span 1;
    grid-row: 1/-1;
  }
}

.swiper-gallery__images {
  width: 70vw;
  height: 70vh;
  display: grid;
  align-content: space-around;
  gap: 1rem;
}
@media (min-width: 700px) {
  .swiper-gallery__images {
    height: 50vh;
    width: 85vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .swiper-gallery__images {
    height: 60vh;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 900px) {
  .swiper-gallery__image--row {
    grid-column: 2/3;
  }
}
@media (min-width: 900px) {
  .swiper-gallery__image--col {
    grid-row: 1/-1;
  }
}
.swiper-gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: grayscale(0.7);
  aspect-ratio: 2/1;
  transition: filter 0.3s linear;
}
@media (max-width: 400px) {
  .swiper-gallery__img {
    aspect-ratio: 2.5/1;
  }
}
.swiper-gallery__img:hover {
  filter: grayscale(0);
}

.swiper-conversion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 900px) {
  .swiper-conversion {
    flex-direction: row;
  }
  .swiper-conversion::before {
    content: "";
    width: 60vw;
    height: calc(100vh - 100px);
    position: absolute;
    bottom: 0;
    left: 40%;
    background-image: url("../../../../images/keys-to-car-big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    z-index: -1;
    opacity: 0.3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 99%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 99%);
  }
}
.swiper-conversion__item {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 900px) {
  .swiper-conversion__item {
    width: 40%;
  }
}
.swiper-conversion__form {
  width: 100%;
}
.swiper-conversion__action-btn {
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 900px) {
  .swiper-conversion__action-btn {
    width: 50%;
  }
}

.list-2__item {
  list-style: url("../../../../images/Icons/tick-32.png");
}

/*style for blog mainpage*/
.blog-head {
  min-height: 100vh;
  padding-top: calc(100px + 5vh);
}
.blog-head__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: "auto";
  height: 20vh;
  background-image: url("../../../images/race.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.blog-head__blog-article {
  margin: 0 auto;
  margin-block: 4rem;
}
.blog-head__content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: "auto";
  padding-block: 2rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
}
.blog-content__filter {
  margin-inline: 2rem;
  padding: 2rem;
  border-radius: 5px;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}
@media (min-width: 700px) {
  .blog-content__filter {
    margin-inline: 8rem;
  }
}
.blog-content__browser, .blog-content__grid {
  margin-block: 4rem;
}
.blog-content__grid {
  padding: 2rem;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 850px));
  justify-content: space-evenly;
}
@media (min-width: 700px) {
  .blog-content__grid {
    padding: 4rem 8rem;
  }
}

.post-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: "auto";
}
.post-header__img {
  display: block;
  height: 100%;
  opacity: 0.3;
}
@media (min-width: 900px) {
  .post-header__img {
    width: 100%;
  }
}
.post-header__wrap {
  position: absolute;
  bottom: 5vh;
  left: 0;
  padding: 2rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .post-header__wrap {
    width: 70vw;
    left: 4rem;
  }
}

.separator {
  width: 90%;
  border-bottom: 2px solid yellow;
}

.post-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .post-content {
    flex-direction: row;
    justify-content: space-around;
  }
}
.post-content__wrap {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: clamp(20px, 5rem, 8rem);
}
@media (min-width: 900px) {
  .post-content__wrap {
    width: 60%;
  }
}
.post-content__aside {
  padding: 2rem;
}
@media (min-width: 900px) {
  .post-content__aside {
    width: 20%;
    padding: unset;
  }
}
.post-content__txt--lead {
  font-weight: 600;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
}
.post-content__quote-wrap {
  padding: 2rem;
  border-inline-start: 2px solid;
  border-block-start: 2px solid;
  border-inline-end: 2px solid;
  border-image-source: linear-gradient(yellow, transparent 70%);
  border-image-slice: 1;
}
.post-content__quote-caption {
  margin-top: 20px;
  text-align: right;
}
.post-content__img-wrap {
  max-height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
@media (min-width: 900px) {
  .post-content__img-wrap {
    max-height: unset;
  }
}
.post-content__rating {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  border: 3px solid #acacac;
  border-radius: 10px;
}
@media (min-width: 700px) {
  .post-content__rating {
    grid-template-columns: repeat(2, 1fr);
  }
}
.post-content__author {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.post-content__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-content-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.3s linear;
}
.post-content-img:hover {
  transform: scale(1.1);
}

/*style for contact subpage*/
.contact {
  width: 100%;
  position: relative;
}
@media (min-width: 900px) {
  .contact {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact__header {
  position: relative;
  padding-top: 100px;
  padding-inline: 2rem;
  min-height: 100vh;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: "auto";
}
.contact__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/contact/handshake_1050.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -100;
}
@media (min-width: 900px) {
  .contact__header::before {
    background-image: url("../../../images/contact/handshake_1920.jpg");
  }
}
.contact__title {
  margin-block: 2rem;
}
.contact__form {
  display: grid;
}
@media (min-width: 700px) {
  .contact__form {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    max-height: 500px;
  }
}
.contact__data-wrap {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, auto);
  justify-content: left;
  gap: 2rem;
}
.contact__map {
  height: 400px;
}
.contact__info {
  padding: 2rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact__data-txt {
  line-height: 32px;
}

.input-control__input {
  width: 100%;
  background: transparent;
  text-align: left;
}
@media (min-width: 700px) {
  .input-control__input {
    height: 80px;
  }
}

.contact__map {
  filter: grayscale(0.3);
}/*# sourceMappingURL=main.css.map */