/* POPRAWKI: POWIĘKSZYĆ FONT SIZE DLA MAIN CONTENT + LICZNIKÓW  */
/* Remember you have to attribute Andy Horvath */
* {
  /* DEFAULT SETTINGS */
  --main-font-family: 'Work Sans', sans-serif;
  --main-font-color: #f3f3f3;
  --main-font-size: 26px;
  --main-bg-color: #000205;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  overflow-x: hidden;
}

/* SLIDER STYLE */

.header {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.slider__dimensions {
  width: 100%;
  height: 100%;
}

.slider {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.defaultImg {
  position: absolute;
  transform: translateY(0%);
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  overflow: hidden;
  transition: transform 1s linear, opacity 1s linear;
  background-position: center;
  background-size: cover;
  background-image: url('images/slide-1.jpg');
}

.slider .hideDefaultImg {
  opacity: 0;
  transform: translateY(-100%);
}

.slider__slide {
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: transform 1s linear, opacity 1s linear;
  background-position: center;
  background-size: cover;
}

.active__slide {
  opacity: 0.4;
  transform: translateY(0%);
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40vw;
  padding: 1em 1em 1em 6em;
  z-index: 2;
}

.h2__animate {
  animation: moveH2 linear infinite 8s;
}

@keyframes moveH2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* MAIN NAV STYLE  */

.main_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  max-width: 100%;
  padding: 2em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background-color 0.3s linear;
}

.sticky_nav {
  background-color: var(--main-bg-color);
}

.brandlogo {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  list-style-type: none;
}

ul .mainnav_li {
  margin-left: 1em;
  font-size: var(--main-font-size);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mainnav_li a {
  text-decoration: none;
}

.mainnav_li a:hover {
  background: var(--main-font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainnav_li a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  margin-top: 8px;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
  transition: width linear 0.5s;
}

.mainnav_li a:hover:after {
  width: 100%;
}

.sign_btn {
  position: relative;
  top: 0;
  left: 0;
  padding: 0.5em;
  border-radius: 3px;
  background: transparent;
  border: 2px solid #acacac;
  color: var(--main-font-color);
  font-size: var(--main-font-size);
  letter-spacing: 2px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s linear;
}

.sign_btn:hover {
  border: 2px solid #5f5f5f;
}

.sign_btn:after {
  content: '';
  position: absolute;
  top: -40%;
  left: -120%;
  height: 100px;
  width: 30px;
  transform: rotate(35deg);
  transition: left 0.4s linear;
  opacity: 0.6;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

.sign_btn:hover:after {
  left: 120%;
}

.slider_nav {
  position: absolute;
  height: 5vh;
  bottom: 1.5em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.slider_nav button {
  width: 8em;
  height: 10px;
  border: 2px solid var(--main-font-color);
  border-radius: 10px;
  margin: 0 0.5em;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s linear;
  box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 1);
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slider_nav button:hover {
  box-shadow: 0px 0px 0px 0px rgba(172, 172, 172, 1);
  background-color: rgba(172, 172, 172, 1);
}

.slider_nav .active {
  box-shadow: 0px 0px 0px 0px rgba(172, 172, 172, 1);
  background-color: rgba(172, 172, 172, 1);
}

.btn_active {
  background-color: #5f5f5f;
}

/* COUNTERS STYLE  */

.numbers {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  height: 35vh;
  padding: 0.5em 1.5em;
  margin: 0 auto;
}

.numbers div {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

.numbers div.lends {
  text-align: center;
  width: 20vw;
}

.big_number {
  font-size: 80px;
  font-weight: 700;
  align-self: center;
}

.number_caption {
  text-align: center;
  align-self: center;
  font-size: var(--main-font-size);
  color: #000205;
  z-index: 2;
}

section.numbers:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-20vh + 2.5em);
  width: 100%;
  height: 20vh;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

/* ABOUT US STYLE  */

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4em;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('images/slide-3-blur.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  z-index: -30;
}

.desc {
  width: 70%;
  padding: 4em;
  display: flex;
  flex-grow: 1;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 10vh;
}

.action_btn {
  position: relative;
  padding: 1em;
  border: 2px solid yellow;
  border-radius: 3px;
  background: transparent;
  color: var(--main-font-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  letter-spacing: 5px;
  cursor: pointer;
  transition: all .4s ease;
  animation: action linear 1s infinite;
  overflow: hidden;
}

/* CAN I OPTIMIZE THIS s */

@keyframes action {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }

  25% {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 52, 0.902);
  }

  50% {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 52, 0.902);
  }

  75% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }
}

.action_btn:hover {
  animation-play-state: paused;
}

.action_btn:hover i {
  right: 2em;
}

.president_cite {
  font-style: italic;
}

.president_photo {
  position: relative;
  height: 90vh;
  flex-basis: 50%;
  background-image: url('images/president_speedup.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}

/* COPY TO OTHER PROJECT AND DELETE THIS SECTION -->  SOCIAL PROOF STYLE*/

/* 
.horizontal-section {
  padding: 100px 0;
  background-color: #000205;
}

.sticky-wraper {
  position: sticky;
  left: 0;
  top: 10px;
  width: 100%;
  overflow: hidden;
}

.element-wrapper {
  position: relative;
  display: flex;
}

.element {
  width: 100%;
  height: 95vh;
  padding-left: 4em;
  background-color: purple;
  margin: 0 20px 0 0;
  flex-shrink: 0;
} */


/* ABOUT STYLE  */

.values_wrap {
  height: 150vh;
  width: 100%;
  max-width: 100%;
  margin-bottom: 4em;
}

.values_devider {
  position: relative;
  height: 70vh;
  margin-top: calc(20vh - 2.5em);
}

/* CO TU MOŻNA ZOPTYMALIZOWAĆ??? */

.onimg_crate {
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  border-top: 1em solid black;
}

.crate_row {
  position: relative;
  width: 20%;
  height: 70vh;
  border: 20px solid #000205;
  border-top: none;
  background-color: transparent;
}

.row_limiter {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #000205;
}

.values_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-image: url("images/race.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .4s linear;
  filter: grayscale(1);
}

.values_desc_container {
  position: relative;
  padding: 4em;
  display: flex;
  flex-direction: column;
}

.values_text_columns {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

span.extra_border {
  content: "";
  display: block;
  width: 25%;
  height: calc(var(--main-font-size)/3);
  margin-bottom: 2em;
  border-radius: 3px;
}

.values_left_col,
.values_right_col {
  width: 50%;
}

.values_right_col {
  display: flex;
  flex-direction: column;
}

.values_right_col .extra_border {
  align-self: flex-end;
}

/* CZY DA SIĘ JAKOŚ ZOPTYMALIZOWAĆ FLEXBOX W TEJ SEKCJI???  */

.btn_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.btn_wrap .action_btn {
  align-self: stretch;
}

/* BUSINESS STYLE  */

.business {
  height: 150vh;
  width: 100%;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
}

.biz_info_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 50%;
}

.biz_imgs {
  position: relative;
  height: 100%;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  overflow: hidden;
  gap: 20px;
  filter: grayscale(1);
}

.biz_imgs::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000205;
  transform-origin: top right;
  transform: rotate(-75deg);
}

.biz_offer {
  height: 100%;
  padding: 4em 4em 0 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  gap: 4vh;
}

.biz_assets_wrap {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  padding: 0 4em;
}

.assets_content {
  flex-basis: 40%;
}

.assets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 60%;
}

.asset figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.asset_wrap {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  border: 4px solid yellow;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease;
  box-shadow: inset 0px 0px 15px 9px rgba(255, 255, 0, 0.81);
}

.asset_wrap:hover {
  box-shadow: none;
}

.asset_img {
  height: 15vh;
  width: 15vh;
}

/* FLEET SECTION STYLE  */

.fleet {
  width: 100%;
  height: 100vh;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fleet_grid {
  flex-basis: 50%;
  width: 25%;
}

.fleet_grid:nth-child(2) {
  background-image: url(images/fleet-img-2.jpg);
}

.fleet_grid:nth-child(3) {
  background-image: url(images/fleet-img-3.jpg);
}

.fleet_grid:nth-child(5) {
  position: relative;
  width: 50%;
  flex-basis: 100%;
}

.fleet_grid:nth-child(5) img {
  width: 100%;
  height: 100%;
  opacity: .2;
  filter: grayscale(1);
}

.fleet_grid:nth-child(5) button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fleet_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

.fleet_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  text-align: center;
}

/* BRANDS ASIDE STYLE  */

.brands-wrap {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 4em 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.brands_elements {
  padding: 2em 0;
}

.brands-title {
  width: 100%;
  text-align: center;

}

.brands-slider-wrap {
  flex-basis: 70%;
}

.brands-slider-wrap {
  position: relative;
}

.brands-slider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  flex-basis: 70%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.brand_slide:nth-child(2n) {
  transform: translateY(20%);
}

.brand_slide {
  border: 20px solid transparent;
  width: calc(100% / 8);
  height: auto;
}

.brand_slide>* {
  width: 100%;
  height: 200px;
  background-image: url(images/Mercedes_new_logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.brand_slide:nth-child(2)>* {
  background-image: url(images/renault-logo-vector.png);
}

.brand_slide:nth-child(3)>* {
  background-image: url(images/mazda-2.svg);
}

.brand_slide:nth-child(4)>* {
  background-image: url(images/alfa-romeo.svg);
}

.brand_slide:nth-child(5)>* {
  background-image: url(images/honda-logo-freelogovectors.net_.svg);
}

.brand_slide:nth-child(6)>* {
  background-image: url(images/toyota.svg);
}

.brand_slide:nth-child(7)>* {
  background-image: url(images/nissan-126.svg);
}

.brand_slide:nth-child(8)>* {
  background-image: url(images/bmv-1.svg);
}

.brand_slide> :last-child {
  transform: rotateX(180deg) translateY(70px);
  mask-image: linear-gradient(transparent 50%, white 90%);
}

.brands-btn {
  position: absolute;
  top: 30%;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  border: 4px solid yellow;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: inset 0px 0px 15px 9px rgba(255, 255, 0, 0.81);
  transform: translateY(-50%);
  transition: all .4s ease;
  cursor: pointer;
}

.brand_btn:hover {
  box-shadow: none;
}

.l-btn {
  left: 0;
  transform: translateX(-100%);
}

.r-btn {
  right: 0;
  transform: translateX(100%);
}


/* FOOTER STYLESHEET  */

.footer {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer>* {
  height: 100vh;
  width: 100%;
}

/* FOOTER -> MEDIA + NL STYLE  */

.media_wrap {
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.form_media {
  flex-grow: .2;
  width: 100%;
}

.form_label {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nl_child:last-child {
  padding-bottom: 0;
}

.input {
  display: block;
  padding: 1em;
  margin: 0 auto;
  font-size: var(--main-font-size);
  width: 50%;
  border: none;
  text-align: center;
  background-color: #000205;
  color: #acacac;
  border-radius: 3px;
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(172, 172, 172, 1);
}

.submit_btn {
  margin: 0 auto;
  padding: 1em;
  width: 30%;
  color: black;
  background-color: yellow;
  font-size: var(--main-font-size);
}

.socials_wrap {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm_icon {
  font-size: 1.5vmax;
  margin: 0;
}


.sitemap_wrap {
  display: flex;
  justify-content: space-between;
}

.sitemap_wrap>* {
  flex-basis: 50%;
}

.social_btn {
  width: 12vh;
  height: 12vh;
  margin-bottom: none;
}

/* FOOTER -> PRIVACY + SITEMAP STYLE  */
.sitemap_wrap {
  max-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 4em;
}

.sitemap_col>* {
  display: block;
  color: black;
  padding: .5em 0;
}

.map_title {
  text-transform: uppercase;
}

.footer_ul {
  height: 20vh;
}

.footer_li {
  padding: .5em 0;
}

.footer_icon {
  color: white;
}

.sitemap_col a {
  text-decoration: none;
  color: black;
  transition: all .4s ease;
}

.sitemap_col a:hover {
  color: #f3f3f3;
}


span:hover {
  color: #f3f3f3;
}

/* GENERAL STYLESHEET  */

.speedup_txt {
  font-size: 1.35vw;
  font-family: var(--main-font-family);
  letter-spacing: 2px;
  line-height: 150%;
}

.gradient_txt {
  background: -webkit-linear-gradient(#f3f3f3, #acacac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_bgcolor {
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

h2 {
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  margin-bottom: 1em;
  font-size: 1.70vw;
  letter-spacing: 2px;
  line-height: 150%;
}

aside {
  height: 100vh;
}

.caption {
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 150%;
}

.ongradient_txt {
  color: black;
}

@media only screen and (max-width: 1600px) {

  .speedup_txt {
    font-size: 20px;
  }

  .caption {
    font-size: 15px;
  }
}

.important_word {
  color: yellow;
}

.wrap_master {
  padding: 4em;
}


.wrap_mainnav {
  margin-top: 10vh;
}