/* Remember you have to attribute Andy Horvath */
* {
  /* DEFAULT SETTINGS FOR BASE FILE*/
  --main-font-family: 'Work Sans', sans-serif;
  --main-font-color: #f3f3f3;
  --main-font-size: 26px;
  --main-bg-color: #000205;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL STYLESHEET  */

.speedup-txt {
  font-size: 2.5vh;
  font-family: var(--main-font-family);
  letter-spacing: 2px;
  line-height: 150%;
}

.gradient-txt {
  background: -webkit-linear-gradient(#f3f3f3, #acacac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bgcolor {
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

.page-item {
  width: 100%;
  height: 100vh;
}

.page-item--pad {
  padding: 4em;
}

.caption {
  font-size: 2.5vh;
  letter-spacing: 2px;
  line-height: 150%;
}

.caption--italics {
  font-style: italic;
}

.ongradient_txt {
  color: black;
}

.action-btn {
  padding: 1em;
  border: 2px solid yellow;
  border-radius: 3px;
  background: yellow;
  color: #000205;
  font-weight: 700;
  cursor: pointer;
  line-height: 2.5vh;
  transition: all .4s ease;
  overflow: hidden;
}

.action-btn:hover {
  background: transparent;
  color: white;
}

.action-btn--animation {
  animation: action linear 1.5s infinite;
}

.action-btn--animation:hover {
  animation-play-state: paused;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@keyframes action {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }

  25% {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 52, 0.902);
  }

  50% {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 52, 0.902);
  }

  75% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 52, 0.902);
  }
}

.circle-btn-overlay {
  border-radius: 50%;
  border: 4px solid yellow;
  transition: box-shadow .4s ease;
  box-shadow: inset 0px 0px 15px 9px rgba(255, 255, 0, 0.81);
}

.circle-btn-overlay--small {
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 0, 0.81);
  border-width: 2px;
}

.circle-btn-overlay:hover {
  box-shadow: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  overflow-x: hidden;
}

.important-word {
  -webkit-background-clip: text;
  -webkit-text-fill-color: yellow;
}

.speedup-txt--justify {
  text-align: justify;
}

.title {
  font-size: 3.5vh;
  letter-spacing: 3px;
  text-align: center;
  line-height: 150%;
}

.title--large {
  font-size: 4.5vh;
}

.title--padding {
  padding: 2em;
}

.title--align-l {
  text-align: left;
}

.title--align-r {
  text-align: right;
}

/* MAIN HEADER STYLE  */



.main-header__title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40vw;
  margin: 2em;
  z-index: 2;
}

.main-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 1s linear, opacity 1s linear;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);
}

.main-slider__slide {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.slide--is-default {
  background-image: url('images/slide-1.jpg');
  opacity: 0.4;
  transform: translateY(0%);
}

.slide--hide-default {
  opacity: 0;
  transform: translateY(-100%);
}

.slide--is-active {
  opacity: 0.4;
  transform: translateY(0%);
}

/* MAIN NAV STYLE  */

.main-nav {
  height: 10vh;
  width: 100%;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background-color .4s linear;
}

.page__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.is-sticky {
  background-color: var(--main-bg-color);
}

.brandlogo {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
}

.brandlogo__link {
  text-decoration: none;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style-type: none;
}

.main-nav__item {
  padding-left: 1em;
}

.main-nav__link {
  text-decoration: none;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-nav__link:hover {
  background: var(--main-font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-nav__link:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  margin-top: 8px;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
  transition: width linear 0.5s;
}

.main-nav__link:hover:after {
  width: 100%;
}

.sign-btn {
  padding: 0.5em;
  border: 2px solid #acacac;
  border-radius: 3px;
  background: transparent;
  color: var(--main-font-color);
  font-size: var(--main-font-size);
  letter-spacing: 2px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s linear;
}

.sign-btn:hover {
  border: 2px solid #5f5f5f;
}

.sign-btn--lash {
  position: relative;
  top: 0;
  left: 0;
}

.sign-btn--lash:after {
  content: '';
  position: absolute;
  top: -40%;
  left: -120%;
  height: 100px;
  width: 30px;
  transform: rotate(35deg);
  transition: left 0.4s linear;
  opacity: 0.6;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

.sign-btn--lash:hover:after {
  left: 120%;
}

/* SLIDER STYLE  */

.main-slider__btns-wrap {
  height: 5vh;
  width: 35vw;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translate(-50%, 0);
}

.btns-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns-wrap__btn {
  width: 7vw;
  height: 15px;
  border: 2px solid var(--main-font-color);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all .4s linear;
  box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 1);
  overflow: hidden;
}

.btns-wrap__btn:hover,
.is-btn-filled {
  box-shadow: 0px 0px 0px 0px rgba(172, 172, 172, 1);
  background-color: rgba(172, 172, 172, 1);
}

/* COUNTERS STYLE  */

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter__numbers {
  width: 100%;
  max-width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.counter__numbers:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-20vh + var(--main-font-size) + 10px);
  width: 100%;
  height: 20vh;
  background: -webkit-linear-gradient(#acacac, #5f5f5f);
}

.counter__number-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter__number {
  font-size: 9vh;
  font-weight: 700;
  align-self: center;
  letter-spacing: 2px;
  line-height: 60%;
  padding: 10px 0;
}

.counter__number-txt {
  text-align: center;
  font-size: var(--main-font-size);
  color: #000205;
  z-index: 2;
  letter-spacing: 2px;
}

/* GRID STYLE  */
.counter__onimg-grid {
  position: relative;
  height: 55vh;
}

.counter__onimg-grid>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vh;
}

.counter__grid-wrap {
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  border-top: 1em solid black;
}

.counter__grid-item {
  width: 20%;
  border-width: 0 20px 40px 20px;
  border-color: #000205;
  border-style: solid;
  background-color: transparent;
}

.counter__grid-img {
  background-image: url("images/race.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

/* ABOUT STYLE  */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__columns-wrap {
  height: 90%;
  display: flex;
  justify-content: space-between;
  gap: 6vh;
}

.about__column {
  width: 50%;
}

.txt-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.txt-intro__speedup-txt {
  margin-top: 6vh;
}

.extra-border {
  content: "";
  display: block;
  width: 25%;
  height: 1vh;
  border-radius: 3px;
}

.extra-border--right {
  align-self: flex-end;
}

/* CLIENTS STYLE  */

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clients__wrap--bgc-black {
  background-color: #000205;
}

.clients__wrap {
  height: 90%;
  display: flex;
  justify-content: space-between;

}

.clients__wrap>* {
  width: 50%;
  padding: 2em;
}

.clients__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clients__info--align-r {
  align-items: flex-end;
  text-align: right;
}

.clients__extra-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cutted-imgs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cutted-imgs__img {
  filter: grayscale(1);
  transition: all .8s ease;
}

.cutted-imgs:hover .cutted-imgs__img {
  filter: grayscale(0);
}

.cutted-imgs__img--border-l {
  border-left: 5px ridge yellow;
}

.biz_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.biz_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.biz_options_wrap {
  flex-grow: .9;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.option {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #acacac;
  border-radius: 5px;
  box-shadow: inset 0px 0px 15px 9px rgba(172, 172, 172, 0.81);
  background: #000205;
}

.option:nth-child(1) {
  left: -10%;
  transform: translateX(-50%) scale(90%);
}

.option:nth-child(3) {
  left: 110%;
  transform: translateX(-50%) scale(90%);
}

.option_img {
  background-image: url(images/item4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 40%;
  border-radius: 5px;
}

.option_ul {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  overflow: hidden;
}

.option_li {
  border-bottom: 2px solid #acacac;
}

.option_p {
  font-size: 2vh;
  text-align: center;
  letter-spacing: 2px;
  line-height: 250%;
}

.option_li:last-child {
  border-bottom: none;
}

.option_title {
  flex-basis: 10%;
  padding: .5em;
  color: #000205;
  text-align: center;
}

.biz_slider_btn {
  width: 10vh;
  height: 10vh;
  border: 2px solid yellow;
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 0, 0.81);
  background-color: transparent;
}

/* VALUES STYLE  */

.values-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.values-wrap>* {
  height: 50%;
}

.values-wrap__txt {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.values-wrap__values {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.values-wrap__value {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.values-wrap__icon-panel {
  width: 25vh;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values-wrap__icon {
  height: 15vh;
  width: 15vh;
}

/* BRANDS ASIDE STYLE  */

.brands {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.brands__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands__btn-wrap {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brands__btn {
  width: 15vh;
  height: 15vh;
  background-color: transparent;
}

.brands__slides {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.brands__slide {
  margin: 20px;
  width: calc(100% / 8);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.brands__slide>* {
  width: 100%;
  height: 50%;
  background-image: url(images/Mercedes_new_logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* WSZYSTKIE TE STYLE BĘDĄ USUNIETE */

.brands__slide:nth-child(2n) {
  transform: translateY(20%);
}

.brands__slide:nth-child(2)>* {
  background-image: url(images/renault-logo-vector.png);
}

.brands__slide:nth-child(3)>* {
  background-image: url(images/mazda-2.svg);
}

.brands__slide:nth-child(4)>* {
  background-image: url(images/alfa-romeo.svg);
}

.brands__slide:nth-child(5)>* {
  background-image: url(images/honda-logo-freelogovectors.net_.svg);
}

.brands__slide:nth-child(6)>* {
  background-image: url(images/toyota.svg);
}

.brands__slide:nth-child(7)>* {
  background-image: url(images/nissan-126.svg);
}

.brands__slide:nth-child(8)>* {
  background-image: url(images/bmv-1.svg);
}

/* WSZYSTKIE TE STYLE BĘDĄ USUNIETE */

.brands__slide-item:last-child {
  transform: rotateX(180deg) translateY(25%);
  mask-image: linear-gradient(transparent 50%, white 90%);
}

/* FLEET SECTION STYLE  */

.fleet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4em 0;
}

.fleet__grid {
  flex-basis: 50%;
  width: 25%;
}

.fleet__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.fleet__img {
  background-position: center;
  background-size: cover;
  background-image: url(images/fleet-img-3.jpg);
}

.fleet__img:nth-of-type(2) {
  background-image: url(images/fleet-img-2.jpg);
}

.fleet-underlay {
  height: 100%;
}

.fleet__fleet-underlay {
  position: relative;
  width: 50%;
}

.fleet-underlay__big-img {
  width: 100%;
  height: 100%;
  opacity: .2;
  filter: grayscale(1);
}

.fleet-underlay__action-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
}

/* BLOG STYLE  */

.blog-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blog-intro__wrap {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-intro__wrap>* {
  width: 30%;
}

.post-intro {
  position: relative;
  height: 45vh;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.post-intro__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  opacity: .2;
  transition: all .8s ease;
}

.post-intro:hover .post-intro__cover {
  transform: scale(1.2);
  filter: grayscale(0);
  opacity: .3;
}

.post-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-intro__post-content {
  height: 45vh;
  position: absolute;
  top: 0;
  left: 0;
}

.post-content__head {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-content__category {
  width: fit-content;
  padding: .5em;
  border: 2px solid yellow;
  border-radius: 5px;
}

/* RECOMMENDATION STYLE  */

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4em;
}

.page__recommend {
  position: relative;
}

.recommend::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('images/slide-3-blur.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  z-index: -30;
}

.recommend__txt-wrap {
  width: 70%;
  padding: 4em;
  align-self: center;
}

.recommend__photo {
  height: 90vh;
  flex-basis: 50%;
  z-index: -2;
}

/* NEWSLETTER STYLE  */

.nl-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.form__label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  width: 50%;
  padding: 1em;
  text-align: center;
  background-color: #000205;
  color: #acacac;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 0px 5px 0px rgba(172, 172, 172, 1);
}


.blog-intro__action-btn,
.form__action-btn,
.clients__action-btn {
  width: 25vw;
}

.nl-wrap__socials-wrap {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nl-wrap__btn {
  width: 12vh;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER STYLE  */

.sitemap {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 10vh;
  text-align: center;
}

.sitemap__column {
  flex-basis: 33%;
}

.sitemap__column>* {
  color: black;
  padding: .5em 0;
}

.speedup-txt--uppercased {
  text-transform: uppercase;
}

.sitemap__list {
  height: 20vh;
  list-style: none;
}

.sitemap__item {
  padding: .5em 0;
}

.sitemap__link {
  text-decoration: none;
  color: black;
  transition: all .4s ease;
}

.sitemap__link:hover {
  color: #f3f3f3;
}

@media only screen and (max-width: 1600px) {

  .caption {
    font-size: 2.2vh;
  }

  .action-btn {
    padding: .85em;
  }
}